@import "../../Components/variables.scss";

.index {
  display: flex;
  flex-direction: column;
  gap: 50px;

  header,
  main {
    margin: 0 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  @media (max-width: $mobile) {
    gap: 22px !important;
    header,
    main {
      margin: 0 20px;
      gap: 22px !important;
    }
  }
}

