@import "../../Components/variables.scss";

#root {
  gap: 50px;
}

/* ----------- Laptop ----------- */
.laptop_version {
  display: block;

  .appartement {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .appartement__image {
      width: 100%;
    }

    .appartement__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .appartement__header-info {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h1 {
          font-size: 36px;
          font-weight: 500;
          color: #ff6060;
        }

        p {
          font-size: 18px;
          font-weight: 500;
        }
      }

      .appartement__host {
        display: flex;
        gap: 10px;
        align-items: center;

        img {
          width: 64px;
          height: 64px;
          border-radius: 50%;
          object-fit: cover;
        }

        p {
          font-size: 18px;
          width: 93px;
          text-align: right;
          color: #ff6060;
          font-weight: 500;
        }
      }
    }

    .tags_rating {
      display: flex;
      justify-content: space-between;
    }

    .appartement_tags {
      display: flex;
      gap: 10px;

      span {
        padding: 0 30px;
        height: 25px;
        background-color: #ff6060;
        color: #fff;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .description_equipements {
      display: flex;
      justify-content: space-between;
      gap: 76px;
      width: 100%;

      .description,
      .equipements {
        flex: 1;
      }
    }
  }
}

/* ----------- Phone ----------- */
@media (max-width: $mobile) {
  .laptop_version {
    display: none;
  }

  .phone_version {
    display: block;

    .appartement {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .appartement__image {
        width: 100%;
      }

      .appartement__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .appartement__header-info {
          display: flex;
          flex-direction: column;
          gap: 10px;

          h1 {
            font-size: 18px;
            font-weight: 500;
            color: #ff6060;
          }

          p {
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }

    .host_rating {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .rating img {
        width: 18px;
        height: 18px;
      }

      .appartement__host {
        display: flex;
        gap: 10px;
        align-items: center;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }

        p {
          font-size: 12px;
          width: 83px;
          text-align: right;
          color: #ff6060;
          font-weight: 500;
        }
      }
    }

    .appartement_tags {
      display: flex;
      gap: 10px;

      span {
        padding: 0 30px;
        height: 18px;
        background-color: #ff6060;
        color: #fff;
        border-radius: 10px;
        font-size: 10px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .description_equipements {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;

      .description,
      .equipements {
        flex: 1;
      }
    }
  }
}