@import "./variables.scss";

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;

  ul {
    display: flex;
    flex-direction: row;
    gap: 57px;

    li {
      list-style: none;

      a {
        color: #000000;
        text-decoration: none;
        font-weight: 500;

        &.active {
          text-decoration: underline;
          text-decoration-color: #000;
          text-underline-offset: 3px;
        }
      }
    }
  }
}

@media (max-width: $mobile) {
nav {
  margin-top: 20px;
    img{
    width: 145px;
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 26px;

    li {
      list-style: none;
      text-transform: uppercase;

      a {
        color: #000000;
        text-decoration: none;
        font-size: 12px;
        font-weight: 500;

        &.active {
          text-decoration: underline;
          text-decoration-color: #000;
          text-underline-offset: 3px;
        }
      }
    }
  }
}
}