@import "./variables.scss";

body {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;

  .nav-logo {
    width: auto;
    height: 50px;
  }

  .nav-links {
    display: flex;
    gap: 57px;

    li {
      list-style: none;

      a {
        color: #000;
        text-decoration: none;
        font-weight: 500;

        &.active {
          text-decoration: underline;
          text-underline-offset: 4px;
        }
      }
    }
  }

  @media (max-width: $mobile) {
    margin-top: 20px;

    .nav-logo {
      width: 145px;
    }

    .nav-links {
      gap: 26px;

      li a {
        font-size: 12px;
      }
    }
  }

  @media (max-width: $littleMobile) {
    flex-direction: column;
    gap: 20px;

    .nav-links {
      flex-direction: column;
      gap: 15px;
      padding: 0;
    }
  }
}
