* {
  font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
  ul {
    display: flex;
    flex-direction: row;
    gap: 57px;
    li{
        list-style: none;
        a {
            list-style: none;
            color: #000000;
            text-decoration: none;
        }
    }
  }
}